<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>Admin</title>

</head>

<body>
<!-- Шапка -->
<header>
    <div class="bs">
        <div class="container-fluid bg-dark text-white my-4">
            <div class="row gx-5">
                <div class="col-lg-1 ms-auto">
                    <form th:action="@{/logout}" method="get">
                        <button type="submit" class="btn bg-dark text-secondary">Выход</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</header>


<!-- Боковая панель -->
<div class="d-flex align-items-start">
    <div class="col-2">
        <div class="nav flex-column nav-pills me-3">
            <a href="/admin" type="button" class="btn btn-primary btn-lg nav-link active">Админ</a>
            <a href="/user" type="button" class="btn btn-primary btn-lg nav-link">Пользователь</a>
        </div>
    </div>


    <!-- Таблица пользователей -->
    <div class="container-fluid">
        <h1>Страница админа</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="users-tab"
                        data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab" aria-controls="users"
                        aria-selected="true">Таблица пользователей
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="new-user-tab" data-bs-toggle="tab" data-bs-target="#new-user" type="button"
                        role="tab" aria-controls="new-user" aria-selected="false">Новый пользователь
                </button>
            </li>
        </ul>


        <div class="tab-content" id="nav-tabContent">
            <!--                            Здесь содержится информация для вкладки User Table-->
            <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">

                <div class="p-3 border bg-light">
                    <table class="table table-secondary table-striped table-hover table-bordered">
                        <thead class="table-light">
                        <tr class="table-light">
                            <th class="col">Id</th>
                            <th class="col">First Name</th>
                            <th class="col">Last Name</th>
                            <th class="col">User Name</th>
                            <th class="col">Role</th>
                            <th class="col">Edit</th>
                            <th class="col">Delete</th>
                        </tr>
                        </thead>

                        <tbody id="tableBodyAdmin"></tbody>

                    </table>
                </div>
            </div>
            <!-- Добавление нового пользователя -->

            <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                <div class="container px-0">
                    <div class="row gx-3">
                        <div class="col">
                            <div class="p-3 border bg-light"><b>Add new user</b></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center container">
                    <div class="row">
                        <div class="my-4">
                            <div class="p-3 border bg-highlight">

                                <form id="newUserForm">
                                    <div class="mb-3 text-center ">
                                        <label for="firstNameNew" class="sr-only"><b>First Name</b></label>
                                        <input type="text" id="firstNameNew"
                                               class="form-control" placeholder="FirstName" required/>
                                    </div>
                                    <div class="mb-3 text-center">
                                        <label for="lastNameNew" class="sr-only"><b>Last Name</b></label>
                                        <input type="text" id="lastNameNew"
                                               class="form-control" placeholder="LastName" required/>
                                    </div>
                                    <div class="mb-3 text-center">
                                        <label for="usernameNew" class="sr-only"><b>User Name</b></label>
                                        <input type="text" id="usernameNew"
                                               class="form-control" placeholder="UserName" required/>
                                    </div>
                                    <div class="mb-3 text-center">
                                        <label for="passwordNew" class="sr-only"><b>Password</b></label>
                                        <input type="text" id="passwordNew"
                                               class="form-control" placeholder="Password required"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="rolesNew" class="sr-only"><b>Roles</b></label>
                                        <select class="form-select" aria-label="Multiple select example" id="rolesNew">
                                        </select>
                                        <!--                                        <input type="text"  id="rolesNew"-->
                                        <!--                                               class="form-control" placeholder="ROLE_ROLE" required>-->
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-success" type="submit" onclick="newUserTab()">Add
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Модальное окно для изменеия пользователя-->
<div class="modal" id="editModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit</h5>

                <!-- Кнопка закрытия -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=""></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row ">
                        <form id="modalEdit">

                            <div class="mb-3 text-center">
                                <label for="editId"><b>ID</b></label>
                                <input class="form-control" type="text"
                                       id="editId" disabled>
                            </div>

                            <div class="mb-3 text-center">
                                <label for="editFirstName"><b>First Name</b></label>
                                <input class="form-control" type="text"
                                       id="editFirstName" required>

                            </div>

                            <div class="mb-3 text-center">
                                <label for="editLastName"><b>Last Name</b></label>
                                <input class="form-control" type="text"
                                       id="editLastName">
                            </div>

                            <div class="mb-3 text-center">
                                <label for="editUsername"><b>User Name</b></label>
                                <input class="form-control" type="text"
                                       id="editUsername">
                            </div>
                            <div class="mb-3 text-center">
                                <label for="editPassword"><b>Password</b></label>
                                <input class="form-control" type="text"
                                       id="editPassword">
                            </div>
                            <div class="mb-3 text-center">
                                <select class="form-select" aria-label="Multiple select example" id="editRole">
                                </select>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        id="editClose">Close
                                    <button type="button" class="btn btn-primary" id="editBtn"
                                            onclick="editUser()">Edit
                                    </button>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Moдальное окно для удаления пользователя -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="example1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example1">Delete</h5>

                <!-- Кнопка закрытия -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=""></button>
                <!-- !!!!!!!!-->
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row ">
                        <form id="modalDelete">
                            <div class="form-group text-center">
                                <label for="deleteId">
                                    <strong>Id</strong>
                                </label>
                                <input type="text" class="form-control"
                                       id="deleteId">
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <label for="deleteFiName">
                                    <strong>First Name</strong>
                                </label>
                                <input type="text" class="form-control"
                                       id="deleteFiName">
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <label for="deleteLastName">
                                    <strong>Last Name</strong>
                                </label>
                                <input type="text" class="form-control"
                                       id="deleteLastName">
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <label for="deleteUsName">
                                    <strong>User Name</strong>
                                </label>
                                <input type="text" class="form-control"
                                       id="deleteUsName">
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <label for="deleteRoles">
                                    <strong>Roles</strong>
                                </label>
                                <input type="text" class="form-control"
                                       id="deleteRoles">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="closeDelete">Close
                </button>
                <button type="button" class="btn btn-danger" id="deleteBtn"
                        onclick="deleteUser();">Delete
                </button>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>

<script src="/admin.js"></script>

</body>

</html>

