<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
        <label for="firstName">First name</label>
        <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
        <label for="lastName">Last name</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        <label for="password">Password</label>
        <input type="password" th:field="*{password}" id="password" placeholder="Password">
        <label for="roles">Role</label>
        <select th:field="*{roles}" id="roles">
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
        </select>
        <input type="submit" value="Create User">
    </form>

<h1>Welcome User!</h1>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
</body>
</html>
